<launch>
    <env name="GAZEBO_MODEL_PATH" value="$GAZEBO_MODEL_PATH:$(find fira_challenge_env)/models"/>

    <arg name="world_name" default="$(find fira_challenge_env)/worlds/main_league.world"/>
    <arg name="paused" value="false"/>
    <arg name="verbose" value="false"/>
    <arg name="gui" value="true"/>

    <!-- launch the custom world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="paused" value="$(arg paused)"/>
      <arg name="world_name" value="$(arg world_name)"/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="gui" value="$(arg gui)"/>
    </include>
    <include file="$(find sjtu_drone)/launch/start.launch"/>
    
    <!-- <include file="$(find gate_system)/launch/gazebo.launch"/> -->

    <!-- <node name="randomizer" pkg="gate_system" type="randomizer.py" output="screen" launch-prefix="bash -c 'sleep 3; $0 $@' "/> -->
    
    <node name="start_spin" pkg="gate_system" type="start_spin.py" output="screen" launch-prefix="bash -c 'sleep 3; $0 $@' "/>

</launch>
